div { 
    font-family: Arial;
}
.block {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
}
.row {
    margin-right: 10px;
}
.pic {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}
.column {
    flex: 1;
}
.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.bold-one {
    margin-right: 8px;
    font-weight: bold;
}
.common {
    color: rgb(156, 151, 151);
}
.content {
    margin-bottom: 15px;
    line-height: 20px;
}
.video-preview {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    border-color: rgb(200, 200, 200);
    border-radius: 15px;
    overflow: hidden;
}
.thumbnail-column {
    width: 100px;
    background-color: rgb(220, 220, 220);
    height: 100px;
    margin-right: 10px;
}
.video-page {
    flex: 1;
}
.website {
    color: rgb(111, 111, 111);
    margin-bottom: 3px;
}
.video-title {
    line-height: 20px;
}
    

